.pitch {
  background-image: url("src/assets/img/pitch.png");
  /* background-color: #cccccc; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: cover; */
  padding-top: 53.4%; /* Pitch aspect Ratio */
  /* position: relative; */
}

.playerNet {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.playerNet2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.cell {
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
  position: relative;
}

.cell:hover {
  background-color: rgba(255, 255, 0, 0.2);
  box-shadow: 1px 1px black;
}

.bench {
  margin-top: 24px;
  height: 80%;
  width: 100%;
}

.cellBench {
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
  position: relative;
}

.cellBench:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px black;
}

h5 {
  font-size: 1rem;
  text-align: center;
}

h3 {
  text-align: center;
}
